@font-face {
  font-family: 'crosstenextralight';
  src: url('./src/styles/fonts/crossten-extralight-webfont.woff') format('woff2'),
  url('./src/styles/fonts/crossten-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: crosstenextralight, monospace;
}

main{
  display:flex;
  flex-flow: row wrap;
}

.grid{
  flex:1;
  z-index: -10;
}

.controlPanel{
  background-color: red;
}

