node_modules
.DS_Store
dist
dist-ssr
*.local

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

vcs.xml
codeStyleConfig.xml
Hexalife.iml
modules.xml
/.idea
.idea